/*header*/
.header{margin-bottom:1rem;background: #fff;height: 4rem;text-align: center;line-height: 4rem;font-size: 1.5rem;position: relative;}
.header i{font-size: 3.5rem;position: absolute;left: .5rem;top: .4rem;color: #aeaeae;}
.header em{font-size: 2rem;margin: auto;}
.header span{position: absolute;right: .8rem;}

.wrap{background-color: #F0F1F1;}
/*** 修改银行账户 ***/

.content{position: relative;}
.content .out{position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 4rem;z-index: 999;transition:1s;opacity: 0;}
/*修改成功公共样式*/
.content .out .reset_success{font-size:1.5rem;background-color: #656565;width: 45%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;}
/*修改成功公共样式*/


.content_mail,.bank_number{
    height: 4rem;
    box-sizing: content-box;
}
.content .content_mail{
    margin-bottom:1rem;
}
.content .content_mail span{
    display: block;
    color: #BEBEBE;
    margin:0 2.5%;
    line-height: 4rem;
    font-size: 1.5rem;
}
.content_mail{
    font-size: 1.6rem;
    border: 1px solid #D0D0D0;
    overflow: hidden;
    background-color: #fff;
}
.content_mail .china{
    color: #232323 !important;
    height: 4rem;
    border: none;
    outline: none;
    margin:0 2.5%;
}

/***  银行卡号 ***/
.bank_number{
    border: 1px solid #D0D0D0;
    background-color: #fff;
    // overflow: hidden;
    height: 4rem;
    line-height: 4rem;
}
.bank_number em,.bank_number input{
    color: #BEBEBE;
    margin:0 2.5%;
    font-size: 1.5rem;
    height: 4rem;
}
.bank_number em{display: inline-block;height: 4rem;line-height: 4rem;}
.bank_number input{
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
}


#length {
    float: right;
    color: red;
    opacity: 0;
}

.next-btn{
    /*background: #2AA8FE;*/
    background: #C4C4C4;
    width: 95%;
    margin-left: 2.5%;
    box-sizing: border-box;
    border: none;
    height: 2.8rem;
    color: white;
    border-radius: 5px 5px;
    margin-top: 2rem;
    font-size: 1.6rem;
}
/**** 修改模态框 ****/
.modal-content{
    width: 70%;
    margin: auto;
    border-radius: 0;
    height: 30rem;
    overflow: scroll;
}
.modal-body{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
}
.modal-body div{
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #676767;
}
.modal-body div:last-child{
    border: none;
}

.content .out{position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 4rem;z-index: 999;transition:1s;opacity: 0;}
.content .out .info{background-color: #656565;width: 80%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;font-size: 1.5rem;}
