/*header*/
.header{background: #fff;height: 4rem;text-align: center;color: white;line-height: 4rem;font-size: 1.5rem;position: relative;}
.header i{font-size: 3.5rem;position: absolute;left: .5rem;top: .4rem;color: #ADACAC;}
.header em{font-size: 2rem;margin: auto;color: #333;}
.header span{position: absolute;right: .8rem;}
.header a{color: #333;}

/*content*/
.content{background-color: #f0f0f0;padding: 1rem 0;overflow: scroll;}

/***    ***/
.detail_mail{height: 4rem;line-height: 4rem;background-color: #fff;}
.detail_mail{overflow: hidden;}
.detail_mail em{float: left;color: #333;font-size: 1.6rem;}
.detail_mail>span{float: right;}
.detail_mail div{float: right;}
.detail_mail div span{color: #333;font-size: 1.6rem;}
.detail_mail div img{width: 1.6rem;vertical-align: middle;margin-left: .5rem;}
.content .detail_box{padding: 0 1.3rem;background-color: #fff;margin-bottom: 1rem}
.detail_num{border-top: 1px solid #C0C0C0;}

/*** 退出登录按钮 ***/
.exit-btn{background: #44BB5C;width: 95%;margin-left: 2.5%;box-sizing: border-box;border: none;height: 3.5rem;color: white;border-radius: 5px 5px;font-size: 1.6rem;outline: none;}
/*提示信息*/
.content .out{position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 4rem;z-index: 999;transition:1s;opacity: 0;}
.content .out .info{background-color: #656565;width: 80%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;font-size: 1.5rem;}
