/*header*/
.header{background: #fff;height: 4rem;text-align: center;color: white;line-height: 4rem;font-size: 1.5rem;position: relative;}
.header i{font-size: 3.5rem;position: absolute;left: .5rem;top: .4rem;color: #ADACAC;}
.header em{font-size: 2rem;margin: auto;color: #333;}
.header a{color: #fff;}

/*content*/
.content{background-color: #f0f0f0;padding-top: 1.5rem;}
.detail li{padding: 0 1.3rem;height: 4rem;line-height: 4rem;;background-color: #fff;}
.content .detail .del_img img{
    width: 2rem;
    vertical-align: middle;
}
.content .detail .del_img .del_bi{
    width: 2rem;
    margin-top: 1rem;
    vertical-align: middle;
}
.content .detail .del_img .del_bp{
    width: 2rem;
    margin-top: 1.3rem;
    color: #B0ADAC;
    font-size: 1.5rem;
    vertical-align: middle;
}
.content .detail .del_img em , .content .detail .del_img span{
   font-size: 1.6rem;
    margin-left: .5rem;
    vertical-align: middle;
}
.content .detail .del_img em{
    margin-left: .5rem;
}
.content .detail .del_img span{
    color: #808080;
}
.detail_li{overflow: hidden;}
#memberNum,.datePicker input{
    width: 15rem;
    border: none;
    height: 4rem;
    font-size: 2rem;
    padding-left: 1rem;
    text-align: center;
}
#memberNum{
    width: 10rem;
    text-align: left;
}

/*** ÍË³öµÇÂ¼ ***/
.exit-btn{background: #44BB5C;width: 95%;margin-left: 2.5%;box-sizing: border-box;border: none;height: 3.5rem;color: white;border-radius: 5px 5px;margin-top: 2rem;font-size: 1.6rem;}
.content .out{position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 4rem;z-index: 999;transition:1s;opacity: 0;}
.content .out .info{background-color: #656565;width: 80%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;font-size: 1.5rem;}
/*适应iPhone*/
@media screen and (max-width: 320px) {
    .content .detail .del_img img{
        width: 3rem;
    }
    .exit-btn{height: 2.8rem;}
}