/*header*/
.header{margin-bottom:1rem;background: #fff;height: 4rem;text-align: center;color: white;line-height: 4rem;font-size: 1.5rem;position: relative;}
.header i{font-size: 3.5rem;position: absolute;left: .5rem;top: .4rem;color: #ADACAC;}
.header em{font-size: 2rem;margin: auto;color: #333;}
.header span{position: absolute;right: .8rem;}

.wrap{background-color: #f0f0f0;}
/*** 修改银行账户 ***/

.content{position: relative;}
.content .out{position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 4rem;z-index: 999;transition:1s;opacity: 0;}
/*修改成功公共样式*/
.content .out .reset_success{font-size:1.5rem;background-color: #656565;width: 45%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;}
/*修改成功公共样式*/

.content .content_mail span{
    display: block;
    color: #333;
    margin:0 2.5%;
    line-height: 3rem;
    font-size: 1.5rem;
}
.content_mail{
    font-size: 1.6rem;
    margin: 0 auto;
    width: 95%;
    border: 1px solid #919191;
    overflow: hidden;
    /*border-radius: .3rem;*/
    background-color: #fff;
}
.content_mail .china{
    color: #333 !important;
}
.exit-btn{
    background: #44BB5C;
    width: 95%;
    margin-left: 2.5%;
    box-sizing: border-box;
    border: none;
    height: 2.8rem;
    color: white;
    border-radius: 5px 5px;
    margin-top: 1rem;
    font-size: 1.6rem;
}
/**** 修改模态框 ****/
.modal-content{
    width: 70%;
    margin: auto;
    border-radius: 0;
    height: 30rem;
    overflow: scroll;
}
.modal-body{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
}
.modal-body div{
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #676767;
}
.modal-body div:last-child{
    border: none;
}