/*header*/
.header{margin-bottom:1rem;background: #fff;height: 4rem;text-align: center;color: white;line-height: 4rem;font-size: 1.5rem;position: relative;}
.header i{font-size: 3.5rem;position: absolute;left: .5rem;top: .4rem;color: #ADACAC;}
.header em{font-size: 2rem;margin: auto;color: #333;}
.header span{position: absolute;right: .8rem;}

.wrap{background-color: #F1F1F1;}

/*** 修改银行账户 ***/
.content span{
    display: block;
    color: #BEBEBE;
    margin-top: 1rem;
    margin-left: 2.5%;
    font-size: 1.5rem;
}
/*** 修改银行账户 ***/

/*** 修改邮箱Start ***/
.content_mail input{
    display: block;
    width: 95%;
    border:2px solid #FB9B27;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: .3rem 0 .3rem .5rem;
}
.content{position: relative;}
.content .out{position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 4rem;z-index: 999;transition:1s;opacity: 0;}

/*****resetMail*/
.content .out .info{font-size:1.5rem;background-color: #656565;width: 45%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;}
/*****resetMail*/

/*修改成功公共样式*/
.content .out .reset_success{font-size:1.5rem;background-color: #656565;width: 80%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;}
/*修改成功公共样式*/

/****resetIdcard***/
.content .out .idcard_num{font-size:1.5rem;background-color: #656565;width: 55%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;}
/****resetIdcard***/

/****resetBankaccount***/
.content .out .bank{font-size:1.5rem;background-color: #656565;width: 65%;border-radius: 2.25rem;margin: auto;color: #fff;text-align: center;padding: .5rem;}
/****resetBankaccount***/

/*** 修改邮箱 End***/

.exit-btn{
    background: #D0D0D0;
    width: 95%;
    margin-left: 2.5%;
    box-sizing: border-box;
    border: none;
    height: 2.8rem;
    color: white;
    border-radius: 5px 5px;
    margin-top: 1rem;
    font-size: 1.6rem;
}


/*** 修改银行账户 ***/
.card_message{
    color: #BCBCBC;
    margin-top: 1rem;
    margin-left: .65rem;
}
/*** 修改银行账户 ***/