html,body{
	width: 100%;
}
body{
	background: url(../images/bk1.jpg) no-repeat fixed;
}
.wrap{
	width: 63.7%;
	display: -webkit-box;
	margin: 188px auto 113px auto;
	position: relative;
	min-width: 640px;
}

/*logo*/
.logo img:nth-child(1){
	position: absolute;
	top: -57px;
	left: -97px;
}
.logo img:nth-child(2){
	vertical-align: bottom;
	margin-left: 10px;
	position: absolute;
	top: -37px;
	left: -12px;
}
/*main*/
#main:after{
	content: '';
	height: 0;
	display: block;
	clear: both;
	zoom: 1;
}
#main img{
	// position: relative;
}
/*left*/
.left{
	float: left;
	margin-right: 2px;
	width: 52.5%;
}
.left>div{
	width: 100%;
	margin-bottom: 2px;
}
.left div img:nth-child(1){
	margin-right: 3%;
	width: 61%;
}
.left>div>img:nth-child(2){
	width: 36%;
}

/*left 动画*/
#l_one img:nth-child(1):hover{
	-webkit-animation: shakeX 0.5s linear;
}
#l_one img:nth-child(2):hover{
	-webkit-animation: scale 0.5s linear;
}
#l_two img:nth-child(1):hover{
	-webkit-animation: shakeY 0.5s linear;
}
#l_two img:nth-child(2):hover{
	-webkit-animation: scale 0.5s linear;
}
#l_three img:nth-child(1):hover{
	-webkit-animation: scale 0.5s linear;
}
#l_three img:nth-child(2):hover{
	-webkit-animation: shakeX 0.5s linear;
}

/*right*/
.right{
	float: left;
	width: 47%;
}
.right>div{
	margin-bottom: 2px;
	width: 100%;
}
.right>div>img:nth-child(1){
	margin-right: 0.4%;
	width: 40.3%;
}
.right>div>img:nth-child(2){
	width: 59.3%;
}


/*right 动画*/
#r_one img:nth-child(1):hover{
	-webkit-animation: shakeX 0.5s linear;
 	// -webkit-animation: rotateX 2s linear;
}
#r_one img:nth-child(2):hover{
	-webkit-animation: scale 0.5s linear;
	// -webkit-animation: rotateX 2s linear;
}
#r_two img:nth-child(1):hover{
	-webkit-animation: shakeY 0.5s linear;
}
#r_two img:nth-child(2):hover{
	-webkit-animation: shakeX 0.5s linear;
}
#r_three img:nth-child(1):hover{
	-webkit-animation: scale 0.5s linear;
}
#r_three img:nth-child(2):hover{
	-webkit-animation: shakeY 0.5s linear;
}

/*动画的类*/
.animation1{
	-webkit-animation: shakeY 0.5s linear;
}
.animation2{
	-webkit-animation: shakeX 0.5s linear;
}
.animation3{
	-webkit-animation: scale 0.5s linear;
}
.animation4{
	-webkit-animation: rotateX 2s linear;
}
.animation5{
	-webkit-animation: rotateY 2s linear;
}
/*date*/
.date{
	position: absolute;
	top: 35px;
	right: 35px;
	width: 194px;
	color: white;
	height: 105px;
	min-height: 105px;
}
.dat1{
	text-align: right;
	font-size: 30px;
	color: white;
	height: 38px;
	min-width: 194px;
}
.dat1 span{
	line-height: 52px;
	margin-right: 4px;
}
.dat2{
	display: -webkit-box;
	text-align: right;
	padding-top: 12px;
}
.dat2>div div:nth-child(1){
	padding-bottom: 2px;
}
.dat2_1 div:nth-child(2){
	text-align: left;
	padding-left: 3px;
}
.dat2_2{
	padding-left: 23px;
}
.dat3{
	margin-left: 3px;
	padding-top: 11px;
}
.footer{
	width: 100%;
	text-align: center;
	margin: auto;
	padding-bottom: 18px;
	font-family: '微软雅黑';
	color: #606677;
}

@media screen and (max-width: 640px){
	.wrap{
		width: 59.7%;
		-webkit-box-orient: vertical;
		margin: 188px auto 113px auto;
		min-width: 320px;
	}
	.logo  img:nth-child(1){
		position: absolute;
		top: -95px;
		left: 0px;
	}
	.left{
		width: 100%;
	}
	.right{
		padding-top: 1.3%;
		width: 100%;
	}
	.footer{
		width: 100%;
		text-align: center;
		margin: auto ;
		padding-bottom: 30px;
	}
}

@-webkit-keyframes shakeX{
	0%{-webkit-transform:translateX(0px);}
	10%{-webkit-transform:translateX(-10px);}
	20%{-webkit-transform:translateX(0px);}
	30%{-webkit-transform:translateX(10px);}
	40%{-webkit-transform:translateX(0px);}
	50%{-webkit-transform:translateX(-10px);}
	60%{-webkit-transform:translateX(0px);}
	70%{-webkit-transform:translateX(10px);}
	80%{-webkit-transform:translateX(0px);}
}
@-webkit-keyframes shakeY{
	0%{-webkit-transform:translateY(0px);}
	20%{-webkit-transform:translateY(-20px);}
	40%{-webkit-transform:translateY(0px);}
	60%{-webkit-transform:translateY(-20px);}
	80%{-webkit-transform:translateY(0px);}
}
@-webkit-keyframes scale{
	0%{-webkit-transform: scale(1.2,1.2);}
	10%{-webkit-transform: scale(1,1);}
	20%{-webkit-transform: scale(0.8,0.8);}
	30%{-webkit-transform: scale(1,1);}
	40%{-webkit-transform: scale(1.2,1.2);}
	50%{-webkit-transform: scale(1,1);}
	60%{-webkit-transform: scale(0.8,0.8);}
	70%{-webkit-transform: scale(1,1);}
	80%{-webkit-transform: scale(1.2,1.2);}
	90%{{-webkit-transform: scale(1,1);}
}
@-webkit-keyframes rotateX{
	0%{-webkit-transform: rotate3d(1,0,0,0deg);}
	20%{-webkit-transform: rotate3d(1,0,0,60deg);}
	40%{-webkit-transform: rotate3d(1,0,0,180deg);}
	60%{-webkit-transform: rotate3d(1,0,0,240deg);}
	80%{-webkit-transform: rotate3d(1,0,0,300deg);}
	100%{-webkit-transform: rotate3d(1,0,0,360deg);}
}
@-webkit-keyframes rotateY{
	0%{-webkit-transform: rotate3d(0,1,0,0deg);}
	20%{-webkit-transform: rotate3d(0,1,0,60deg);}
	40%{-webkit-transform: rotate3d(0,1,0,180deg);}
	60%{-webkit-transform: rotate3d(0,1,0,240deg);}
	80%{-webkit-transform: rotate3d(0,1,0,300deg);}
	100%{-webkit-transform: rotate3d(0,1,0,360deg);}
}


